<div class="container">
  <div class="cards-container">
    <div class="row-container">
      <div class="card-1">
        <!-- Card View -->
        <div class="content-card">
          <div class="icon">
            <img class="image-card" src="../../assets/excel_gray.png">
          </div>
          <div class="title">
            <h2>EXCEL</h2>
          </div>
        </div>

      </div><!-- No spaces
  ---><div class="card-2">
      <!-- Card View -->
      <div class="content-card">
        <div class="icon">
          <img class="image-card" src="../../assets/excel_gray.png">
        </div>
        <div class="title">
          <h2>EXCEL</h2>
        </div>
      </div>
      </div><!-- No spaces
  ---><div class="card-3">
      <!-- Card View -->
      <div class="content-card">
        <div class="icon">
          <img class="image-card" src="../../assets/excel_gray.png">
        </div>
        <div class="title">
          <h2>EXCEL</h2>
        </div>
      </div>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row-container">
      <div class="card-1">
        <!-- Card View -->
        <div class="content-card">
          <div class="icon">
            <img class="image-card" src="../../assets/excel_gray.png">
          </div>
          <div class="title">
            <h2>EXCEL</h2>
          </div>
        </div>
      </div><!-- No spaces
  ---><div class="card-2">
      <!-- Card View -->
      <div class="content-card">
        <div class="icon">
          <img class="image-card" src="../../assets/excel_gray.png">
        </div>
        <div class="title">
          <h2>EXCEL</h2>
        </div>
      </div>
    </div><!-- No spaces
  ---><div class="card-3">
      <!-- Card View -->
      <div class="content-card">
        <div class="icon">
          <img class="image-card" src="../../assets/excel_gray.png">
        </div>
        <div class="title">
          <h2>EXCEL</h2>
        </div>
      </div>
    </div>
    </div>

    <!-- Row 3 -->
    <div class="row-container">
      <!-- Card View -->
      <div class="single-card">
        <div class="content-card">
          <div class="icon">
            <img class="image-card" src="../../assets/excel_gray.png">
          </div>
          <div class="title">
            <h2>EXCEL</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row-container">
      <div>
        <a routerLink="/info-details" class="button">DETAILS</a>
      </div>
    </div>
  </div>
</div>
